{% include header.html %}
  <div id="container">
      <div id="main">
        <div id="header">
          <a href="/"><img src="/images/logo.png" /></a>
          <h1>{{ page.question  }}</h1>
          <div id="headerButtons">
            <a href="{{ page.next }}"><div class="headerButton">Yes</div></a>
            <a href="#content"><div class="headerButton">No</div></a>
          </div>
        </div>
        <div id="content">
          <h1>{{ page.title }}</h1>
          {% for collection in site.collections %}
            {% if collection[1].label ==  page.arguments %}
              {% assign arguments = collection[1].docs %}
            {% endif %}
          {% endfor %}
          {% for argument in arguments %}
          <div class="section">
            <div class="sectionHead">
              <div class="sectionIcon">
                {{ argument.icon  }}
              </div>
              <div class="sectionText">
                <h2 id="{{ argument.slug }}">{{ argument.title }}</h2>
                  {{ argument.content  }}
              </div>
            </div>
            <div class="links">
              {% for detail in argument.more %}
              <div class="link">
                <h3>{{ detail.title  }}</h3>
                  {% for link in detail.links %}
                  <p>
                    <a href="{{ link.link  }}">{{ link.link }}</a><br/>
                    <span class="small">{{ link.description  }}</span>
                  </p>
                  {% endfor %}
              </div>
              {% endfor %}
            </div>
            <div class="convinced">
              <div class="convincedQuestion">Convinced?</div>
              <a href="{{ page.next }}"><div class="convincedButton">Yes</div></a>
              {% if forloop.last %}
                <a href="{{ page.next }}"><div class="convincedButton">No</div></a>
              {% else %}
                <a href="#{{ arguments[forloop.index].slug }}"><div class="convincedButton">No</div></a>
              {% endif %}
            </div>
          {% endfor %}
          </div>
        </div> <!-- content -->
      </div> <!-- main -->
    </div> <!-- container -->

{% include footer.html %}
