{% include header.html %}
  <div id="container">
      <div id="main">

        <div id="toolsHeader">
          <a href="/"><img src="/images/logo.png" /></a>
        </div>

        <div id="content">
            <h1 class="toolsTitle">{{ page.title }}</h1>
            <p>{% t tools.tldruse %} <a href="https://tails.boum.org/">tails</a> :)</p>
            <div class="toolsHeader">
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="toolTitle">
                      {% t tools.estimated %}
                    </div>
                    <div class="toolText">
                      {% t tools.perform %}
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="toolTitle">
                      {% t tools.skills %}
                    </div>
                    <div class="toolText">
                      {% t tools.skills-text %}
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-eye-slash"></i>
                    </div>
                    <div class="toolTitle">
                      {% t tools.spy %}
                    </div>
                    <div class="toolText">
                      {% t tools.spy-text %}
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-meh-o"></i>
                    </div>
                    <div class="toolTitle">
                      {% t tools.inconvenience %}
                    </div>
                    <div class="toolText">
                      {% t tools.inconvenience-text %}
                    </div>
                </div>
            </div>

            <div id="tools">

            <table class="tools">
            {% capture tool_lang %}{{ site.lang }}_tools{% endcapture %}
            {% for collection in site.collections %}
              {% if collection[1].label == tool_lang %}
                {% assign tools = collection[1].docs %}
              {% endif %}
            {% endfor %}
            {% assign sorted_tools = (tools | sort: "number") %}
            {% for tool in sorted_tools %}
              <tr>
                <td class="toolActionNumber">
                  <div class="toolActionNumber">{{ tool.number }}</div>
                </td>
                <td class="toolActionText">
                  <div class="toolActionHeader">{{ tool.header }}</div>
                  <div class="toolActionDesc">
                    {{ tool.content }}
                  </div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-clock-o"></i></div>
                  <div class="toolActionRating">{{ tool.time }}</div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-cogs"></i></div>
                  <div class="toolActionRating">{{ tool.skills }}</div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-eye-slash"></i></div>
                  <div class="toolActionRating">{{ tool.spy_reduction }}</div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-meh-o"></i></div>
                  <div class="toolActionRating">{{ tool.incomfort }}</div>
                </td>
              </tr>
            {% endfor %}
            </table> <!-- tools -->

            <h2>{% t tools.sites %}</h2>
            <p><a href="http://libreprojects.net/">http://libreprojects.net/</a></p>
            <p><a href="http://degooglisons-internet.org/">http://degooglisons-internet.org/</a></p>
            <p><a href="https://prism-break.org/en/">https://prism-break.org/en/</a></p>
            <p><a href="https://wiki.debian.org/FreedomBox/LeavingTheCloud">https://wiki.debian.org/FreedomBox/LeavingTheCloud</a></p>
            <p><a href="http://alternativeto.net/">http://alternativeto.net/</a></p>
            <p><a href="http://www.clibre.eu/">http://www.clibre.eu/</a></p>
            <p><a href="https://www.tacticaltech.org/">https://www.tacticaltech.org/</a></p>
            
            <h2>{% t tools.friends %}</h2>
            <p><a href="https://ssd.eff.org/">https://ssd.eff.org/</a></p>
            <p><a href="http://jenairienacacher.fr/">http://jenairienacacher.fr/</a></p>
            <p><a href="https://www.ifeelnaked.org/">https://www.ifeelnaked.org/</a></p>


            </div> <!-- tools -->

        </div> <!-- content -->
      </div> <!-- main -->
    </div> <!-- container -->
{% include footer.html %}
