<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main">

        <div id="toolsHeader">
          <a href="/"><img src="/images/logo.png" /></a>
        </div>

        <div id="content">
            <h1 class="toolsTitle">{{ page.title }}</h1>

            <div class="toolsHeader">
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="toolTitle">
                        Estimated time
                    </div>
                    <div class="toolText">
                        to perform
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="toolTitle">
                        Skills required
                    </div>
                    <div class="toolText">
                        between 1 and 5, 1 is easy
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-eye-slash"></i>
                    </div>
                    <div class="toolTitle">
                        Spy reduction
                    </div>
                    <div class="toolText">
                        from 1 to 5, 1 is low
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-meh-o"></i>
                    </div>
                    <div class="toolTitle">
                        Inconvenience rating
                    </div>
                    <div class="toolText">
                        from 0 to 5, 0 is low
                    </div>
                </div>
            </div>

            <div id="tools">

            <table class="tools">
            {% assign sorted_tools = (site.tools | sort: "number") %}
            {% for tool in sorted_tools %}
              <tr>
                <td class="toolActionNumber">
                  <div class="toolActionNumber">{{ tool.number }}</div>
                </td>
                <td class="toolActionText">
                  <div class="toolActionHeader">{{ tool.header }}</div>
                  <div class="toolActionDesc">
                    {{ tool.content }}
                  </div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-clock-o"></i></div>
                  <div class="toolActionRating">{{ tool.time }}</div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-cogs"></i></div>
                  <div class="toolActionRating">{{ tool.skills }}</div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-eye-slash"></i></div>
                  <div class="toolActionRating">{{ tool.spy_reduction }}</div>
                </td>
                <td class="toolActionIcon">
                  <div><i class="fa fa-meh-o"></i></div>
                  <div class="toolActionRating">{{ tool.incomfort }}</div>
                </td>
              </tr>
            {% endfor %}
            </table> <!-- tools -->

            <h2>Other sites are offering tools</h2>
            <p><a href="http://libreprojects.net/">http://libreprojects.net/</a></p>
            <p><a href="http://degooglisons-internet.org/">http://degooglisons-internet.org/</a></p>
            <p><a href="https://prism-break.org/en/">https://prism-break.org/en/</a></p>
            <p><a href="https://wiki.debian.org/FreedomBox/LeavingTheCloud">https://wiki.debian.org/FreedomBox/LeavingTheCloud</a></p>
            <p><a href="http://alternativeto.net/">http://alternativeto.net/</a></p>
            <p><a href="http://www.clibre.eu/">http://www.clibre.eu/</a></p>
            <p><a href="https://www.tacticaltech.org/">https://www.tacticaltech.org/</a></p>

            </div> <!-- tools -->

        </div> <!-- content -->
      </div> <!-- main -->
    </div> <!-- container -->

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/main.js"></script>
  </body>
</html>

