<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main">

        <div id="toolsHeader">&nbsp;</div>

        <div id="content">
            <h1 class="toolsTitle">{{ page.title }}</h1>

            <div class="toolsHeader">
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="toolTitle">
                        Estimated time
                    </div>
                    <div class="toolText">
                        to perform
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="toolTitle">
                        Skills required
                    </div>
                    <div class="toolText">
                        between 1 and 5, 1 is easy
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-eye-slash"></i>
                    </div>
                    <div class="toolTitle">
                        Spy reduction
                    </div>
                    <div class="toolText">
                        from 1 to 5, 1 is low
                    </div>
                </div>
                <div class="toolsHeaderTool">
                    <div class="toolsIcon">
                        <i class="fa fa-meh-o"></i>
                    </div>
                    <div class="toolTitle">
                        Inconvenience rating
                    </div>
                    <div class="toolText">
                        from 0 to 5, 0 is low
                    </div>
                </div>
            </div>

            <div id="tools">

            <table class="tools">
                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">1</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Install Firefox</div>
                        <div class="toolActionDesc">
                            <p><a href="https://www.mozilla.org/firefox/">https://www.mozilla.org/firefox/</a></p>
                            <p>Why? Free software to browse the Internet</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">5'</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">2</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">0</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">2</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Install Firefox add-ons</div>
                        <div class="toolActionDesc">
                            <p><a href="https://disconnect.me/">disconnect</a> / 
                                <a href="https://tosdr.org/">terms of service</a> /
                                <a href="https://github.com/gorhill/uBlock">ad blocker</a> /
                                <a href="http://dhowe.github.io/AdNauseam/">adNauseam</a></p>
                            <p>Why? Stop <a href="https://aralbalkan.com/notes/spyware-2.0/">Spyware 2.0</a></p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">5'</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">4</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">3</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Change your default search engine</div>
                        <div class="toolActionDesc">
                            <p>Use <a href="https://duckduckgo.com/">DuckDuckGo</a></p>
                            <p>Why? Stop companies from knowing what you have in mind</p>
                            <p>! You can still search on google by adding a !g</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">5'</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">4</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Tor browser</div>
                        <div class="toolActionDesc">
                            <p><a href="https://www.torproject.org/projects/torbrowser.html.en">https://www.torproject.org/projects/torbrowser.html.en</a></p>
                            <p>Why? Stop your ISP/Government from knowing what you browse and which website you come from</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">10'</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">2</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">4</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">5</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Have your own domain</div>
                        <div class="toolActionDesc">
                            <p>Join the <a href="http://indiewebcamp.com/">IndieWeb</a> movement!</p>
                            <p>Why? Stop companies spying on how your content is visited</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">2h</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">2</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">2</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">0</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">6</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Use decentralised communication technologies</div>
                        <div class="toolActionDesc">
                            <p>xmpp / mails / webrtc / dispoara</p>
                            <p>Why? Avoid a centralised place that would be targeted by spying agencies</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">5h</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">2</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">7</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Quit silos</div>
                        <div class="toolActionDesc">
                            <p>Why? Avoid a centralised place that would be targeted by spying agencies</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">10'</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">8</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Encrypt your communication</div>
                        <div class="toolActionDesc">
                            <p><a href="https://emailselfdefense.fsf.org/en/">https://emailselfdefense.fsf.org/en/</a></p>
                            <p>Why? Put an envelope around your communication</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">3h</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">4</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">9</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Check spyware</div>
                        <div class="toolActionDesc">
                            <p><a href="https://resistsurveillance.org/">https://resistsurveillance.org/</a></p>
                            <p>Why? Stop targeted surveillance</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">10'</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">1</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">0</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">10</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Install Linux</div>
                        <div class="toolActionDesc">
                            <p><a href="http://www.ubuntu.com/desktop">http://www.ubuntu.com/desktop</a></p>
                            <p>Why? Free software to limit surveillance on the device used to browse the Internet</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">3h</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">2</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">3</div>
                    </td>
                </tr>

                <tr>
                    <td class="toolActionNumber">
                        <div class="toolActionNumber">11</div>
                    </td>
                    <td class="toolActionText">
                        <div class="toolActionHeader">Have your server at home</div>
                        <div class="toolActionDesc">
                            <p>
                                <a href="https://arkos.io/">arkos</a> / 
                                <a href="https://cozy.io/en/">Cozy</a> / 
                                <a href="https://yunohost.org/#/">Yunohost</a> / 
                                <a href="http://ubos.net/">Ubos</a> / 
                                <a href="http://superglue.it/">Superglue</a>
                            </p>
                            <p>Why? People would need to break into your house to get your data</p>
                        </div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-clock-o"></i></div>
                        <div class="toolActionRating">10h</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-cogs"></i></div>
                        <div class="toolActionRating">5</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-eye-slash"></i></div>
                        <div class="toolActionRating">2</div>
                    </td>
                    <td class="toolActionIcon">
                        <div><i class="fa fa-meh-o"></i></div>
                        <div class="toolActionRating">4</div>
                    </td>
                </tr>

            </table> <!-- tools -->

            <h2>Other sites are offering tools</h2>
            <p><a href="http://libreprojects.net/">http://libreprojects.net/</a></p>
            <p><a href="http://degooglisons-internet.org/">http://degooglisons-internet.org/</a></p>
            <p><a href="https://prism-break.org/en/">https://prism-break.org/en/</a></p>
            <p><a href="https://wiki.debian.org/FreedomBox/LeavingTheCloud">https://wiki.debian.org/FreedomBox/LeavingTheCloud</a></p>
            <p><a href="http://alternativeto.net/">http://alternativeto.net/</a></p>
            <p><a href="http://www.clibre.eu/">http://www.clibre.eu/</a></p>
            <p><a href="https://www.tacticaltech.org/">https://www.tacticaltech.org/</a></p>

            </div> <!-- tools -->

        </div> <!-- content -->
      </div> <!-- main -->
    </div> <!-- container -->

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/main.js"></script>
  </body>
</html>

