/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/fonts/RobotoRegular.woff2) format('woff2'), url(/fonts/RobotoRegular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/RobotoBold.woff2) format('woff2'), url(/fonts/RobotoBold.woff) format('woff');
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 46px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #1baebe;
    line-height: 1em;
}

h3 {
    font-size: 14px;
}

div#container {
    width: 100%;
}

div#main {
    margin-left: auto; 
    margin-right: auto;
    width:100%;
}

div#header {
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -360px;
    color: white;
    text-align: center;
    padding-top: 50px;
    background: #f2f2f2 url("../images/background_main.jpg") no-repeat bottom;
    background-color: #979797;  
    background-size: 100% auto;
    min-height: 980px;
}

div#toolsHeader {
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -700px;
    color: white;
    text-align: center;
    padding-top: 50px;
    background: #f2f2f2 url("../images/background_main.jpg") no-repeat bottom;
    background-color: #979797;
    background-size: 100% auto;
    min-height: 980px;
}

div#header h1 {
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 50px;
}

div#headerButtons {
    margin-left: auto; 
    margin-right: auto;
}

div.headerButton {
    display: inline-block;
    width:175px;
    min-width: 175px !important;
    border: 3px solid white;
    padding: 10px;
    margin-left:25px;
    margin-right:25px;
    font-size: 42px;
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
}

div#content {
    max-width: 900px;
    margin-top: 120px;
    margin-bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 90px;
    color: black;
    background-color: white;
    box-sizing: border-box
}

div.section {
}

div.toolboxFooter {
    width: 100%;
    background-color: #d8dede;
    font-size: 30px;
    padding: 30px;
    text-align: center;
}

div.toolboxFooterButton {
    display: inline-block;    
    width:225px;
    min-width: 225px !important;
    border: 2px solid black;
    padding: 10px;
    margin-left: 50px;
    font-size: 20px;
}

div.toolboxFooterButton a {
    color: black;
}

div.sectionHead {
}

div.sectionIcon {
    display: inline-block;
    vertical-align: top;
    font-size: 80px;
    color: white;
    background-color: #1baebe;
    width: 170px;
    height: 170px;
    min-width: 170px !important;
    min-height: 170px !important;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    margin-right: 50px;
}

div.sectionText {
    display: inline-block;
    vertical-align: top;
}

div.links {
    margin-left: auto; 
    margin-right: auto;
    font-size: 13px;
    line-height: 1.2em;
}

div.link {
    display: inline-block;
    vertical-align: top;
    width: 320px;
}

div.link p {
    margin-left: 20px;
}

span.small {
    font-size: 11px;
}

div.convinced {
    display: inline-block;
    color: #1baebe;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 250px;
}

div.convincedQuestion {
    display: inline-block;
    margin-right: 25px;
    padding-top: 5px;
}

div.convincedButton {
    display: inline-block;
    width:75px;
    min-width: 75px !important;
    border: 2px solid #1baebe;
    padding: 2px;
    margin-left:15px;
    margin-right:15px;
    text-align: center;
    text-decoration: none;
    color: #1baebe;
}

h1.toolsTitle {
    color: #444444;
}

div.toolsHeader {
    background-color: #f2f2f2;
    width: 780px;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

div.toolsHeaderTool {
    display: inline-block;
    text-align: center;
    width: 185px;
}

div.toolsIcon {
    font-size: 40px;
    color: #1baebe;
}

div.toolTitle {
    color: #444444;
    font-size: 18px;
}

div.toolText {
    color: #444444;
    font-size: 14px;
}

table.tools {
    border-left: 4px solid #dedfe1;
    width: 100%;
    margin-left: 30px;
}

td.toolActionNumber {
    vertical-align: top;
}

div.toolActionNumber {
    color: white;
    background-color: #dedfe1;
    position: relative;
    left: -23px;
    width: 40px;
    height: 40px;
    min-width: 40px !important;
    min-height: 40px !important;    
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: top;
    line-height: 40px;
}

td.toolActionText {
    width: 100%;
    padding-left: 10px;
}

div.toolActionHeader {
    color: #444444;
    font-size: 26px;
}

div.toolActionDesc a {
    color: #1baebe;
}

div.toolActionDesc {
    color: #444444;
    margin-bottom: 40px;
}

td.toolActionIcon {
    vertical-align: top;
    color: #1baebe;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

div.toolActionRating {
    font-size: 14px;
}

div#tools h2 {
    color: #444444;
}

div#tools p {
    margin: 0;
}

div#footer {
    width: 100%;
    text-align: center;
    background-color: #39383d;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

div#footer p {
    margin: 10px;
}

div#footer h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: top;
    color: #39383d;
    background-color: white;
    width: 90px;
    height: 90px;
    min-width: 90px !important;
    min-height: 90px !important;    
    font-size: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
    line-height: 90px;
}

a {
    color: #1baebe;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 900px) {
    div#header {
        margin-bottom: 0;
        min-height: auto;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

