/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, "Helvetica Neue", "Ubuntu Sans", Arial, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 46px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #1baebe;
    line-height: 1em;
}

h3 {
    font-size: 14px;
    color: #1baebe;
}

div#container {
    width: 100%;
}

div#main {
    margin-left: auto; 
    margin-right: auto;
    width:1250px;
    background: #f2f2f2 url("../images/background_main.jpg") no-repeat;
}

div#header {
    margin-left: auto; 
    margin-right: auto;
    width:720px;
    color: white;
    text-align: center;
    padding-top: 490px;
}

div#header h1 {
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 50px;
}

div#headerButtons {
    width: 510px;
    margin-left: auto; 
    margin-right: auto;
}

div.headerButton {
    display: inline-block;
    width:175px;
    min-width: 175px !important;
    border: 3px solid white;
    padding: 10px;
    margin-left:25px;
    margin-right:25px;

}

div.headerButton a {
    font-size: 42px;
    text-decoration: none;
    color: white;
}

div#content {
    width: 800px;
    margin-top: 120px;
    margin-bottom: 200px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 90px;
    padding-bottom: 90px;
    color: black;
    background-color: white;
}

div.section {
}

div.sectionHead {
}

div.sectionIcon {
    display: inline-block;
    vertical-align: top;
    font-size: 80px;
    color: white;
    background-color: #1baebe;
    width: 170px;
    height: 170px;
    min-width: 170px !important;
    min-height: 170px !important;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    margin-right: 50px;
}

div.sectionText {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

div.links {
    width: 700px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 13px;
    line-height: 1.2em;
}

div.link {
    display: inline-block;
    vertical-align: top;
    width: 320px;
}

div.link p {
    margin-left: 20px;
}

span.small {
    font-size: 11px;
}

div.convinced {
    display: inline-block;
    color: #1baebe;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 250px;
}

div.convincedQuestion {
    display: inline-block;
    margin-right: 25px;
    padding-top: 5px;
}

div.convincedButton {
    display: inline-block;
    width:75px;
    min-width: 75px !important;
    border: 2px solid #1baebe;
    padding: 2px;
    margin-left:15px;
    margin-right:15px;
    text-align: center;
}

div.convincedButton a {
    text-decoration: none;
    color: #1baebe;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}