<div id="footer">
  <div class="contact">
    <h2><i class="fa fa-envelope-o"></i></h2>
    <p><a href="mailto:hello@ihavesomethingtohi.de">hello@ihavesomethingtohi.de</a></p>
    <h2><i class="fa fa-question-circle"></i></h2>
    <p><a href="https://github.com/LisbonInternetFreedom/ihavesomethingtohi.de/blob/source/old_content/FAQ.md">FAQ</a></p>
  </div>
  <div class="github">
    <h2><i class="fa fa-github"></i></h2>
    <p><a href="https://github.com/LisbonInternetFreedom/ihavesomethingtohi.de">https://github.com/pierreozoux/ihavesomethingtohi.de</a></p>
  </div>
  <div class="contributors">
    <h2><i class="fa fa-heart"></i></h2>
    <p>{% t global.madein %}:</p>
    <p>
      <a href="http://www.frenchtouchweb.com/">Julie</a>,
      <a href="https://microblog.pierre-o.fr/">Pierre</a>,
      Daniel,
      <a href="http://www.peterbouda.eu">Peter</a>
    </p>
  </div>
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.indie.host/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 7]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.indie.host/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<!-- Piwik Image Tracker-->
<img src="https://stats.indie.host/piwik.php?idsite=7&rec=1" style="border:0" alt="" />
<!-- End Piwik -->
    
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/main.js"></script>
  </body>
</html>

